In [1]:
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql.functions import dayofmonth, hour, dayofyear, year, weekofyear, format_number, date_format

In [3]:
spark = SparkSession.builder.appName('fechas').getOrCreate()

23/10/24 03:03:30 WARN Utils: Your hostname, ubuntu-s-1vcpu-2gb-sfo3-01 resolves to a loopback address: 127.0.1.1; using 10.48.0.5 instead (on interface eth0)
23/10/24 03:03:30 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/24 03:03:31 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df = spark.read.csv('AAPL.csv', inferSchema = True, header = True)

In [5]:
df.head(1)

[Row(Date=datetime.date(2010, 1, 4), Open=30.49, High=30.642857, Low=30.34, Close=30.572857, Adj Close=26.466835, Volume=123432400)]

In [6]:
df.show()

+----------+---------+---------+---------+---------+---------+---------+
|      Date|     Open|     High|      Low|    Close|Adj Close|   Volume|
+----------+---------+---------+---------+---------+---------+---------+
|2010-01-04|    30.49|30.642857|    30.34|30.572857|26.466835|123432400|
|2010-01-05|30.657143|30.798571|30.464285|30.625713|26.512596|150476200|
|2010-01-06|30.625713|30.747143|30.107143|30.138571|26.090879|138040000|
|2010-01-07|    30.25|30.285715|29.864286|30.082857|26.042646|119282800|
|2010-01-08|30.042856|30.285715|29.865715|30.282858|26.215786|111902700|
|2010-01-11|     30.4|30.428572|29.778572|30.015715|25.984528|115557400|
|2010-01-12|29.884285|29.967142|29.488571|29.674286|25.688946|148614900|
|2010-01-13|29.695715|30.132856|29.157143|30.092857|26.051304|151473000|
|2010-01-14|30.015715|30.065714|29.860001|29.918571|25.900436|108223500|
|2010-01-15|30.132856|30.228571|    29.41|29.418571|25.467583|148516900|
|2010-01-19|29.761429|30.741428|29.605715|30.719999|26.594227|182501900|
|2010-01-20|30.701429|30.792856|29.928572|30.247143| 26.18487|153038200|
|2010-01-21|30.297142|30.472857|29.601429|29.724285|25.732233|152038600|
|2010-01-22|29.540001|29.642857|28.165714|    28.25|24.455948|220441900|
|2010-01-25|    28.93|29.242857|28.598572|    29.01|25.113882|266424900|
|2010-01-26|29.421429|30.530001|28.940001|    29.42|25.468813|466777500|
|2010-01-27|29.549999|30.082857|28.504286|29.697144|25.708735|430642100|
|2010-01-28|29.275715|29.357143|28.385714|28.469999|24.646406|293375600|
|2010-01-29|28.725714|28.885714|27.178572|27.437143| 23.75227|311488100|
|2010-02-01|27.481428|     28.0|27.328571|27.818571|24.082464|187469100|
+----------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

In [7]:
df.select(dayofmonth(df['Date'])).show()

+----------------+
|dayofmonth(Date)|
+----------------+
|               4|
|               5|
|               6|
|               7|
|               8|
|              11|
|              12|
|              13|
|              14|
|              15|
|              19|
|              20|
|              21|
|              22|
|              25|
|              26|
|              27|
|              28|
|              29|
|               1|
+----------------+
only showing top 20 rows

In [8]:
df.select(dayofyear(df['Date'])).show()

+---------------+
|dayofyear(Date)|
+---------------+
|              4|
|              5|
|              6|
|              7|
|              8|
|             11|
|             12|
|             13|
|             14|
|             15|
|             19|
|             20|
|             21|
|             22|
|             25|
|             26|
|             27|
|             28|
|             29|
|             32|
+---------------+
only showing top 20 rows

In [9]:
df.select(year(df['Date'])).show()

+----------+
|year(Date)|
+----------+
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
+----------+
only showing top 20 rows

### ejercicio

In [12]:
df_year = df.withColumn('Year', year(df['Date']))

In [13]:
df_year.show()

+----------+---------+---------+---------+---------+---------+---------+----+
|      Date|     Open|     High|      Low|    Close|Adj Close|   Volume|Year|
+----------+---------+---------+---------+---------+---------+---------+----+
|2010-01-04|    30.49|30.642857|    30.34|30.572857|26.466835|123432400|2010|
|2010-01-05|30.657143|30.798571|30.464285|30.625713|26.512596|150476200|2010|
|2010-01-06|30.625713|30.747143|30.107143|30.138571|26.090879|138040000|2010|
|2010-01-07|    30.25|30.285715|29.864286|30.082857|26.042646|119282800|2010|
|2010-01-08|30.042856|30.285715|29.865715|30.282858|26.215786|111902700|2010|
|2010-01-11|     30.4|30.428572|29.778572|30.015715|25.984528|115557400|2010|
|2010-01-12|29.884285|29.967142|29.488571|29.674286|25.688946|148614900|2010|
|2010-01-13|29.695715|30.132856|29.157143|30.092857|26.051304|151473000|2010|
|2010-01-14|30.015715|30.065714|29.860001|29.918571|25.900436|108223500|2010|
|2010-01-15|30.132856|30.228571|    29.41|29.418571|25.467583|148516900|2010|
|2010-01-19|29.761429|30.741428|29.605715|30.719999|26.594227|182501900|2010|
|2010-01-20|30.701429|30.792856|29.928572|30.247143| 26.18487|153038200|2010|
|2010-01-21|30.297142|30.472857|29.601429|29.724285|25.732233|152038600|2010|
|2010-01-22|29.540001|29.642857|28.165714|    28.25|24.455948|220441900|2010|
|2010-01-25|    28.93|29.242857|28.598572|    29.01|25.113882|266424900|2010|
|2010-01-26|29.421429|30.530001|28.940001|    29.42|25.468813|466777500|2010|
|2010-01-27|29.549999|30.082857|28.504286|29.697144|25.708735|430642100|2010|
|2010-01-28|29.275715|29.357143|28.385714|28.469999|24.646406|293375600|2010|
|2010-01-29|28.725714|28.885714|27.178572|27.437143| 23.75227|311488100|2010|
|2010-02-01|27.481428|     28.0|27.328571|27.818571|24.082464|187469100|2010|
+----------+---------+---------+---------+---------+---------+---------+----+
only showing top 20 rows

In [18]:
df_year.groupBy('Year').mean().columns

['Year',
 'avg(Open)',
 'avg(High)',
 'avg(Low)',
 'avg(Close)',
 'avg(Adj Close)',
 'avg(Volume)',
 'avg(Year)']

In [19]:
resultado = df_year.groupBy('Year').mean().select(['Year', 'avg(Open)'])

In [20]:
resultado.show()

+----+------------------+
|Year|         avg(Open)|
+----+------------------+
|2018|189.11143456573691|
|2015|120.17575393253965|
|2013| 67.58973367460315|
|2014| 92.21983011507933|
|2019|207.86908675793657|
|2020|300.64314603225813|
|2012| 82.37896010000001|
|2016|104.50777772619044|
|2010| 37.13680271825399|
|2011|52.008775376984104|
|2017|150.44490045816727|
+----+------------------+

In [21]:
resultado.select('Year', format_number('avg(Open)',2).alias('Media de Open')).orderBy(resultado['Year']).show()

+----+-------------+
|Year|Media de Open|
+----+-------------+
|2010|        37.14|
|2011|        52.01|
|2012|        82.38|
|2013|        67.59|
|2014|        92.22|
|2015|       120.18|
|2016|       104.51|
|2017|       150.44|
|2018|       189.11|
|2019|       207.87|
|2020|       300.64|
+----+-------------+