In [1]:
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql.types import StructField, StructType, StringType, IntegerType

In [19]:
from pyspark.sql.functions import countDistinct, avg, stddev, format_number

In [3]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/24 00:24:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### agrupaciones

In [4]:
df = spark.read.csv('ventas.csv', inferSchema = True, header = True)

In [5]:
df.show()

+-------+-------+------+
|Empresa|Persona|Ventas|
+-------+-------+------+
|   GOOG| Carlos|   200|
|   GOOG|   Juan|   120|
|   GOOG| Felipe|   340|
|   MSFT|   Tina|   600|
|   MSFT| Andrea|   124|
|   MSFT|  Carla|   243|
|     FB|   Sara|   870|
|     FB|Ignacio|   350|
|   APPL| Miguel|   250|
|   APPL|  Oscar|   130|
|   APPL|  Jorge|   750|
|   APPL|   Ivan|   350|
+-------+-------+------+

In [6]:
df.printSchema()

root
 |-- Empresa: string (nullable = true)
 |-- Persona: string (nullable = true)
 |-- Ventas: integer (nullable = true)

### groupBy

In [7]:
df.groupBy('Empresa').sum().show()

+-------+-----------+
|Empresa|sum(Ventas)|
+-------+-----------+
|   APPL|       1480|
|   GOOG|        660|
|     FB|       1220|
|   MSFT|        967|
+-------+-----------+

### agg

In [10]:
df.agg({'Ventas': 'max'}).show()

+-----------+
|max(Ventas)|
+-----------+
|        870|
+-----------+

In [8]:
agrupado = df.groupBy('Empresa')

In [9]:
agrupado.agg({'Ventas': 'max'}).show()

+-------+-----------+
|Empresa|max(Ventas)|
+-------+-----------+
|   APPL|        750|
|   GOOG|        340|
|     FB|        870|
|   MSFT|        600|
+-------+-----------+

### otras funciones

In [16]:
df.select(countDistinct('Ventas')).show()

+----------------------+
|count(DISTINCT Ventas)|
+----------------------+
|                    11|
+----------------------+

In [17]:
df.select(avg('Ventas').alias('Media de ventas')).show()

+-----------------+
|  Media de ventas|
+-----------------+
|360.5833333333333|
+-----------------+

In [18]:
df.select(stddev('Ventas').alias('Stddev de ventas')).show()

+------------------+
|  Stddev de ventas|
+------------------+
|250.08742410799007|
+------------------+

In [29]:
ventas_stddev = df.select(stddev('Ventas'))

In [30]:
ventas_stddev.show()

+------------------+
|    stddev(Ventas)|
+------------------+
|250.08742410799007|
+------------------+

In [31]:
ventas_stddev.select(format_number('stddev(Ventas)', 2).alias('Stddev de ventas')).show()

+----------------+
|Stddev de ventas|
+----------------+
|          250.09|
+----------------+

### orderBy

In [32]:
df.orderBy('Ventas').show()

+-------+-------+------+
|Empresa|Persona|Ventas|
+-------+-------+------+
|   GOOG|   Juan|   120|
|   MSFT| Andrea|   124|
|   APPL|  Oscar|   130|
|   GOOG| Carlos|   200|
|   MSFT|  Carla|   243|
|   APPL| Miguel|   250|
|   GOOG| Felipe|   340|
|     FB|Ignacio|   350|
|   APPL|   Ivan|   350|
|   MSFT|   Tina|   600|
|   APPL|  Jorge|   750|
|     FB|   Sara|   870|
+-------+-------+------+

In [33]:
df.orderBy(df['Ventas'].desc()).show()

+-------+-------+------+
|Empresa|Persona|Ventas|
+-------+-------+------+
|     FB|   Sara|   870|
|   APPL|  Jorge|   750|
|   MSFT|   Tina|   600|
|     FB|Ignacio|   350|
|   APPL|   Ivan|   350|
|   GOOG| Felipe|   340|
|   APPL| Miguel|   250|
|   MSFT|  Carla|   243|
|   GOOG| Carlos|   200|
|   APPL|  Oscar|   130|
|   MSFT| Andrea|   124|
|   GOOG|   Juan|   120|
+-------+-------+------+