In [1]:
from pyspark.sql import SparkSession

In [20]:
from pyspark.sql.functions import mean

In [2]:
spark = SparkSession.builder.appName('nulos').getOrCreate()

23/10/24 02:35:56 WARN Utils: Your hostname, ubuntu-s-1vcpu-2gb-sfo3-01 resolves to a loopback address: 127.0.1.1; using 10.48.0.5 instead (on interface eth0)
23/10/24 02:35:56 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/24 02:35:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df = spark.read.csv('Null.csv', inferSchema = True, header = True)

In [4]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Nombre: string (nullable = true)
 |-- Ventas: integer (nullable = true)
 |-- Clientes: integer (nullable = true)

In [5]:
df.show()

+----+------+------+--------+
|  Id|Nombre|Ventas|Clientes|
+----+------+------+--------+
|emp1|  John|  NULL|       3|
|emp2|  NULL|  NULL|    NULL|
|emp3|  NULL|   345|    NULL|
|emp4| Cindy|   456|       4|
+----+------+------+--------+

In [6]:
df.na.drop().show()

+----+------+------+--------+
|  Id|Nombre|Ventas|Clientes|
+----+------+------+--------+
|emp4| Cindy|   456|       4|
+----+------+------+--------+

In [7]:
df.na.drop(thresh=1).show()

+----+------+------+--------+
|  Id|Nombre|Ventas|Clientes|
+----+------+------+--------+
|emp1|  John|  NULL|       3|
|emp2|  NULL|  NULL|    NULL|
|emp3|  NULL|   345|    NULL|
|emp4| Cindy|   456|       4|
+----+------+------+--------+

In [8]:
df.na.drop(thresh=3).show()

+----+------+------+--------+
|  Id|Nombre|Ventas|Clientes|
+----+------+------+--------+
|emp1|  John|  NULL|       3|
|emp4| Cindy|   456|       4|
+----+------+------+--------+

In [9]:
df.na.drop(thresh=4).show()

+----+------+------+--------+
|  Id|Nombre|Ventas|Clientes|
+----+------+------+--------+
|emp4| Cindy|   456|       4|
+----+------+------+--------+

In [10]:
df.na.drop(how='any').show()

+----+------+------+--------+
|  Id|Nombre|Ventas|Clientes|
+----+------+------+--------+
|emp4| Cindy|   456|       4|
+----+------+------+--------+

In [11]:
df.na.drop(how='all').show()

+----+------+------+--------+
|  Id|Nombre|Ventas|Clientes|
+----+------+------+--------+
|emp1|  John|  NULL|       3|
|emp2|  NULL|  NULL|    NULL|
|emp3|  NULL|   345|    NULL|
|emp4| Cindy|   456|       4|
+----+------+------+--------+

In [12]:
df.na.drop(subset='Ventas').show()

+----+------+------+--------+
|  Id|Nombre|Ventas|Clientes|
+----+------+------+--------+
|emp3|  NULL|   345|    NULL|
|emp4| Cindy|   456|       4|
+----+------+------+--------+

In [16]:
df.na.drop(subset='Clientes').show()

+----+------+------+--------+
|  Id|Nombre|Ventas|Clientes|
+----+------+------+--------+
|emp1|  John|  NULL|       3|
|emp4| Cindy|   456|       4|
+----+------+------+--------+

### rellenar fill

In [17]:
df.na.fill(0).show()

+----+------+------+--------+
|  Id|Nombre|Ventas|Clientes|
+----+------+------+--------+
|emp1|  John|     0|       3|
|emp2|  NULL|     0|       0|
|emp3|  NULL|   345|       0|
|emp4| Cindy|   456|       4|
+----+------+------+--------+

In [19]:
df.na.fill(0, subset='Ventas').show()

+----+------+------+--------+
|  Id|Nombre|Ventas|Clientes|
+----+------+------+--------+
|emp1|  John|     0|       3|
|emp2|  NULL|     0|    NULL|
|emp3|  NULL|   345|    NULL|
|emp4| Cindy|   456|       4|
+----+------+------+--------+

### Rellenar con la media

In [21]:
media = df.select(mean(df['Ventas'])).collect()

In [23]:
media[0][0]

400.5

In [24]:
df.na.fill(media[0][0], ['Ventas']).show()

+----+------+------+--------+
|  Id|Nombre|Ventas|Clientes|
+----+------+------+--------+
|emp1|  John|   400|       3|
|emp2|  NULL|   400|    NULL|
|emp3|  NULL|   345|    NULL|
|emp4| Cindy|   456|       4|
+----+------+------+--------+